<launch>
  <param name="IP/$(env CAMERA_NAME)" value="$(env ROS_IP)" />
  <group ns="$(env CAMERA_NAME)">
    <rosparam command="load" file="$(find camera_controler)/param/timelaps_picam.yaml" />
    <include file="$(find picam)/launch/picam.launch" />
    <node name="camera_controler_server" pkg="camera_controler" type="camera_controler_server.py" />
  </group>

</launch>
