<launch>
  <param name="IP/$(env CAMERA_NAME)" value="$(env ROS_IP)" />
  <group ns="$(env CAMERA_NAME)">
    <!-- param files : timelaps_canon.yaml and timelaps_nikon.yaml -->
    <rosparam param="file">"timelaps_nikon.yaml"</rosparam>
    <rosparam command="load" file="$(find camera_controler)/param/timelaps_nikon.yaml" ns="camera_setting" />
    <include file="$(find gphoto_cam)/launch/gphoto_cam.launch" />
    <node name="camera_controler_server" pkg="camera_controler" type="camera_controler_server.py" />
    <node name="image_streamer" pkg="camera_controler" type="image_streamer" />
    <!-- Uncomment this line for button interface -->
    <!-- <node name="pigpio_server" pkg="pi_gpio" type="pigpio_server" /> -->
  </group>

</launch>
