<launch>
  <param name="IP/$(env CAMERA_NAME)" value="$(env ROS_IP)" />
  <group ns="$(env CAMERA_NAME)">
    <rosparam param="file">"timelaps_picam.yaml"</rosparam>
    <rosparam command="load" file="$(find camera_controler)/param/timelaps_mobile.yaml" ns="camera_setting" />
    <include file="$(find camera_drivers)/launch/mobile.launch" />
    <node name="camera_controler_server" pkg="camera_controler" type="camera_controler_server.py" />
    <!-- Uncomment this line for button interface -->
    <!-- <node name="pigpio_server" pkg="pi_gpio" type="pigpio_server" /> -->
  </group>

</launch>
